@model IEnumerable<LaCatalanaWeb.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nuevo Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlmacenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlmacenNavigation.NombreAlmacen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNavigation.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorNavigation.IdColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNavigation.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaNavigation.NombreMarca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEquipo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEquipo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEquipo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
