@model IEnumerable<LaCatalanaWeb.Models.AsignacionEquipoDetalle>

@{
    ViewData["Title"] = "Inicio";
}

<p>
    <a asp-action="Create">Asignación de Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAsignacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsignacionNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalleAe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalleAe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalleAe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
