@model LaCatalanaWeb.Models.Asignacione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignacione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsignacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsignacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetallesAsignaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetallesAsignaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlQr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlQr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoNavigation.ApellidosEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcesoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProcesoNavigation.NombreProceso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAsignacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
