@model IEnumerable<LaCatalanaWeb.Models.StockAlmacenDetalle>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nuevo Detalle Stock/Almacen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlmacenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlmacenNavigation.NombreAlmacen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStock">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStock">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStock">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
